@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Raleway:wght@600&display=swap');

body {
  margin: 0;
  font-family: Raleway, sans-serif,
    sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: #1b1523;
    color: #fff;
}
